/* client/public/styles.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #222;
  color: #fff;
}

#menu {
  margin-top: 50px;
}

#game {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.board-container {
  margin: 20px;
}

canvas {
  background-color: #000;
  display: block;
  margin: 0 auto;
}

#game .board-container h2 {
  margin-bottom: 10px;
}

#game .board-container p {
  margin-top: 10px;
}
